# 第四章：Python 物件
## List : 串列 [ ]
## Tuple : 不能更新的串列 ( )
## Dict: 有鍵值(key)的串列 { }

## List 串列

In [ ]:
my_list0=[] #[]中的內容
my_list1 = list()
my_list2 = ['python', 'js', 'SQL'] #顯示[]中內容
print(my_list0) 
print(my_list1)
print(my_list2)
print(my_list2[0]) #顯示python
print(my_list2[1]) #顯示js
print(my_list2[2]) #顯示SQL

[]
[]
['python', 'js', 'SQL']
python
js
SQL

## 附加於最後

In [ ]:
my_list2 = ['python', 'js', 'SQL'] 
my_list2.append('java')
print(my_list2[3])
#長度len()
print(len(my_list2)) #第二是java
print(len(my_list2[0]))

java
4
6

## 新增至特定位置

In [ ]:
my_list3 = ['python', 'js', 'SQL']
my_list3.insert(0, 'java')
print(my_list3) #顯示java python js SQL

['java', 'python', 'js', 'SQL']

## 刪除

In [ ]:
my_list4 = ['java', 'python', 'js', 'SQL']
del my_list4[0]
print(my_list4) #從0-3 顯示 python js SQL
del my_list4[-1]
print(my_list4) #扣1 顯示Python js

['python', 'js', 'SQL']
['python', 'js']

## 檢查是否存在

In [ ]:
my_list4 = ['java', 'python', 'js', 'SQL']
print('java' in my_list4) #檢查是否存在 true
print('go' in my_list4) #檢查是否存在 flase

True
False

## 串列重複

In [ ]:
a=[1,2] 
print(a*5) #1,2重複5次

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

## 串列取值

In [ ]:
a=[1,2,3,4,5,6,7,8,9]
b=a[0:3] #範圍取值
print(b)
c=a[0:9:2] #間隔取值
print(c)
del a[7:9] #刪除串列某範圍的值
print(a)
print(min(a)) #串列最小值
print(max(a))  #串列最大值
print(a.index(1)) #1出現的索引位置
print(a.count(1)) #1出現的次數
a.reverse()  #串列反轉
print(a)
a.sort()     #串列排序
print(a)

[1, 2, 3]
[1, 3, 5, 7, 9]
[1, 2, 3, 4, 5, 6, 7]
1
7
0
1
[7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7]