##Python物件
List[串列]Tuple(元組)Dictionary(字典)Sets[集合]

##List[串列]
使用中括號[]包裹元素

In [ ]:
expenses = [1138, 101, 12, 300, 2049]
print(sum(expenses))

3600

##索引

In [ ]:
expenses = [1138, 101, 12, 300, 2049]
print(expenses[0]) #索引從0開始
print(expenses[1])
print(expenses[-1]) #倒數第一個
print(expenses[-2])

1138
101
2049
300

In [ ]:
#List[串列]
score=[90,70,80,88,95]
print(score[0])
print(score[1])
print(score[4])
print(score[-1]) #-從最後面數過來第一個

90
70
95
95

In [ ]:
my_list0 = [] #空串列
my_list1 = list() 
my_list2 = ['python', 'javascript', 'C#']
print(my_list2[0])

python

## list的長度

In [ ]:
my_list2 = ['python', 'javascript', 'C#']
print(len(my_list2))
print(len(my_list2[0]))

3
6

### 附加

In [ ]:
my_list2 = ['python', 'javascript', 'C#']
my_list2.append('java')
print(my_list2)

['python', 'javascript', 'C#', 'java']

In [ ]:
my_list2 = ['python', 'javascript', 'C#']
my_list2.insert(1,'java')
print(my_list2)

['python', 'java', 'javascript', 'C#']

### 刪除

In [ ]:
my_list2 = ['python', 'javascript', 'C#']
my_list2.remove('python') #移除指定元素
print(my_list2)
del my_list2[-1] #刪除指定位置的元素
print(my_list2)
my_list2.clear() #清除全部
print(my_list2)

['javascript', 'C#']
['javascript']
[]

In [ ]:
a=[1,2]
print(a*5)

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

### list取值

In [ ]:
a=[1,2,3,4,5,6,7,8,9]
b=a[0:3] #範圍取值，0,1,2不包含3
print(b)
c=a[0:9:2] #間隔2取值
print(c)
d = a[0: ]
print(d)
e = a[ :9]
print(e)
f = a[:] #取全部值
print(f)

[1, 2, 3]
[1, 3, 5, 7, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
a=[1,2,3,4,5,6,7,8,9]
del a[7:9] #刪除某範圍值, 7, 8
print(a)
print(min(a)) #最小值
print(max(a)) #最大值
print(a.index(1)) #找出1所在的第一個索引值
b=[1,0,0,1,1,1]
print(b.count(1)) #1出現的次數
a.reverse() #串列反轉
print(a)
a.sort() #串列由小到大排序,a的值會被改變
print(a)

[1, 2, 3, 4, 5, 6, 7]
1
7
0
4
[7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7]

In [ ]:
expenses = [1138, 101, 12, 300, 2049]
s=sorted(expenses) #expenses的值不會變
print(s, expenses)

[12, 101, 300, 1138, 2049] [1138, 101, 12, 300, 2049]

# 流程控制

## if else

In [ ]:
a=3
b=4
if a <= b: #結果為B是比較大的數字
    print("b是比較大的數") 
else:
    print("a是比較大的數")

b是比較大的數

## for 迴圈

In [ ]:
sum=0
for count in range(1,11):  #1 2 3 4 5 6 7 8 9 10 沒有11, step:1
    sum = sum + count #全部相加
print(sum)

55

In [ ]:
mylist="for statement" #顯示的文字
for word in mylist: 
    print(word)
else:
    print("end list") #最後顯示end list

f
o
r

s
t
a
t
e
m
e
n
t
end list

## 雞兔同籠  假設一個農場雞兔共有35頭，94隻腳，請問共有幾隻雞，幾隻兔?

In [ ]:
for chicken in range(0,35):
    rabbit=35-chicken
    if (2*chicken+4*rabbit)==94:
        print("雞有",chicken,"隻, 兔子有",rabbit,"隻") 
        break
else:
    print("無解") #如果計算不出來時，顯示無解即可

雞有 23 隻, 兔子有 12 隻

## while迴圈

In [ ]:
sum=0
count=1
while count <=10: #計算到+10
    sum=sum+count
    count=count+1
print("1+2+3+...+10=", sum) #顯示1+2+3+...+10的總和

1+2+3+...+10= 55

##本金10000元，年利率1%，請問多久銀行存款會加倍

In [ ]:
x=10000
year=0 #已知x=10000 year=0
while x <= 20000:  #10000<20000
    year += 1
    x=x*1.01
print(str(year),"年以後，存款加倍，為",int(x),"元")  #計算結果為70年後，存款加倍，為20067元

70 年以後，存款加倍，為 20067 元

## 猜數字

In [ ]:
number=11
while True:
    guess=int(input('請輸入1~100之間的數字：'))  #從1~100中任選一個數字
    if guess == number:
        print('你猜對了，數字是：',number)
        break
    else:
        print('猜錯了')  #猜對or猜錯

猜錯了
猜錯了

In [ ]:
import random
number=random.randint(1,10)
while True:
    guess=int(input('請輸入1~10之間的數字：')) #從1~10中任選一個數字
    if guess == number:
        print('你猜對了，數字是：',number)
        break
    else:
        print('猜錯了') #猜對or猜錯

請輸入1~10之間的數字：30
猜錯了
請輸入1~10之間的數字：2
猜錯了
請輸入1~10之間的數字：1
猜錯了
請輸入1~10之間的數字：3
猜錯了
請輸入1~10之間的數字：4
猜錯了
請輸入1~10之間的數字：5
猜錯了
請輸入1~10之間的數字：6
你猜對了，數字是： 6